/* FIRA CODE + GEIST MONO */

@import
url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--liquid-glass: url(#liquid-glass);

	--margin-XS: 2px;
	--margin-S: 4px;
	--margin-M: 8px;
	--margin-L: 16px;
	--margin-XL: 32px;

	--ease: all 0.7s cubic-bezier(0.5, 0.5, 0.3, 0.7);
	--blur: blur(5px);

	--scrollbar: oklch(0.25 0.025 264);
	--scrollbar-thumb: oklch(0.45 0.025 264);

	--no-shadow: 0 0 0 transparent;
}

:root{
	--bg-dark: oklch(0.70 0.025 264);
	--bg: oklch(0.76 0.025 264);
	--bg-light: oklch(0.82 0.025 264);
	--bg-lighter: oklch(0.88 0.025 264);
	--bg-lighterer: oklch(0.94 0.025 264);

	--download: oklch(0.62 0.12 258);
	--download-hover: oklch(0.68 0.12 258);
	--download-active: oklch(0.74 0.12 258);
	--download-highlight: oklch(0.80 0.12 258);

	--text: oklch(0.15 0.05 264);
	--inverse-text: oklch(0.95 0.05 264);
	--text-half-muted: oklch(0.4 0.05 264);
	--text-muted: oklch(0.55 0.05 264);

	--sidebar: oklch(0.9 0.025 264 / 0.35);
	--sidebar-hover: oklch(0.95 0.025 264 / 0.35);
	--sidebar-active: oklch(1 0.025 264 / 0.35);

	--highlight: oklch(1 0.05 264);

	--border: oklch(0.6 0.05 264);
	--border-muted: oklch(0.7 0.05 264);
	--border-shadow: inset 0px 4px 4px hsla(0, 0%, 0%, 0.45), inset 0px 12px 12px hsla(0, 0%, 0%, 0.15);

	--shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.45), 0px 12px 12px hsla(0, 0%, 0%, 0.15);
	--inverse-shadow: 0px -4px 4px hsla(0, 0%, 0%, 0.45), 0px -12px 12px hsla(0, 0%, 0%, 0.15);
	--sidebar-shadow: -4px 0px 4px hsla(0, 0%, 0%, 0.45), -12px 0px 12px hsla(0, 0%, 0%, 0.15);
	--inverse-sidebar-shadow: 4px 0px 4px hsla(0, 0%, 0%, 0.45), 12px 0px 12px hsla(0, 0%, 0%, 0.15);

	--selected-text: oklch(0.4 0.2 264);

	--primary: oklch(0.4 0.1 264);
	--secondary: oklch(0.4 0.1 84);

	--danger: oklch(0.5 0.05 30);
	--warning: oklch(0.5 0.05 100);
	--success: oklch(0.5 0.05 160);
	--info: oklch(0.5 0.05 260);

}
.darkmode{
	--bg-dark: oklch(0.15 0.025 264);
	--bg: oklch(0.2 0.025 264);
	--bg-light: oklch(0.25 0.025 264);
	--bg-lighter: oklch(0.3 0.025 264);
	--bg-lighterer: oklch(0.35 0.025 264);

	--download: oklch(0.34 0.12 258);
	--download-hover: oklch(0.40 0.12 258);
	--download-active: oklch(0.46 0.12 258);
	--download-highlight: oklch(0.88 0.12 258);
	--download-border: oklch(0.64 0.12 258);

	--text: oklch(0.95 0.05 264);
	--inverse-text: oklch(0.15 0.05 264);
	--text-half-muted: oklch(0.76 0.05 264);
	--text-muted: oklch(0.85 0.05 264);

	--sidebar: oklch(0 0.025 264 / 0.5);
	--sidebar-hover: oklch(0.3 0.025 264 / 0.5);
	--sidebar-active: oklch(0.6 0.025 264 / 0.5);

	--highlight: oklch(0.5 0.05 264);

	--border: oklch(0.4 0.05 264);
	--border-muted: oklch(0.3 0.05 264);

	--shadow: 0px 1.5px 0px var(--highlight);
	--inverse-shadow: 0px -1.5px 0px var(--highlight);
	--sidebar-shadow: -1.5px 0px 0px var(--highlight);
	--inverse-sidebar-shadow: 1.5px 0px 0px var(--highlight);

	--selected-text: oklch(0.76 0.2 264);

	--primary: oklch(0.76 0.1 264);
	--secondary: oklch(0.76 0.1 84);
	
	--danger: oklch(0.7 0.05 30);
	--warning: oklch(0.7 0.05 100);
	--success: oklch(0.7 0.05 160);
	--info: oklch(0.7 0.05 260);
}
*{
	font-family: Geist Mono, monospace;
	margin: 0;
	padding: 0;
}

html{
	scrollbar-width: none;
}
body{
	background-color: var(--bg-dark);
	transition: var(--ease);
}

h1{
	font-size: 3.4rem;
	margin-top: var(--margin-XS);
} h2{
	font-size: 2.4rem;
	margin-top: var(--margin-M);
} h3{
	font-size: 2.1rem;
	margin-top: var(--margin-M);
} h4{
	font-size: 1.8rem;
	margin-top: var(--margin-L);
} h5{
	font-size: 1.5rem;
	margin-top: var(--margin-L);
} h6{
	font-size: 1.2rem;
	margin-top: var(--margin-XL);
}
h1, h2{
	color: var(--text);
	text-align: center;
	font-weight: 650;
}
h3, h4, h5, h6{
	color: var(--text-half-muted);
	text-align: center;
	font-weight: 450;
}
h1, h2, h3, h4, h5, h6{
	text-wrap: balance;
	transition: var(--ease);
}

p{
	transition: var(--ease);
}

/* HEADER */

header{
	margin-top: 50px;
	margin-bottom: 1rem;
	padding: 16px 32px;
	background: var(--bg);
	box-shadow: var(--shadow);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
header *{
	width: 100dvw;
}
#description{
	color: var(--text-half-muted);
	margin: 0;
}
#description b{
	color: var(--text);
	transition: var(--ease);
}

/* BOLD */

b{
	color: var(--text);
	font-weight: 850;
}

/* MAIN */

main ul *::before{
	content: "•";
	margin-right: 1rem;
}
main ul *{
	color: var(--text-muted);
}

/* NAVIGATION BAR */

nav{
	background: var(--bg-light);
	box-shadow: var(--shadow);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;

	z-index: 999;
}
nav svg{
	height: 1.5rem;
}
nav ul{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav li{
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	background-color: var(--bg-light);
}
nav a:hover{
	background-color: var(--bg-lighter);
}
nav a:active{
	background-color: var(--bg-lighterer);
}
nav a{
	font-weight: 650;
	height: 100%;
	padding: 0 25px;
	font-size: 1rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--text);

	cursor: default;
}
nav li:first-child{
	margin-right: auto;
}
nav a.active{
	color: var(--selected-text);
}
nav a.active svg{
	fill: var(--selected-text);
}
svg{
	fill: var(--text);
}

@media (max-width: 700px){
	nav a{
		display: none;
	}
	nav #show{
		display: flex;
	}
	aside.open{
		right: 0px;
	}
}

/* SIDEBAR */

aside{
	position: fixed;
	top: 0;
	right: -45.1vw;
	height: 100vh;
	width: 45vw;
	z-index: 1000;
	background-color: var(--sidebar);
	backdrop-filter: var(--liquid-glass);
	box-shadow: var(--sidebar-shadow);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	transition: var(--ease);
}
aside svg{
	height: 1.5rem;
}
nav ul{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
aside li{
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	background-color: var(--bg-light);
	position: relative;
	top: -50px;
	width: 100%;

	background-color: transparent;
}
aside a:hover{
	background-color: var(--sidebar-hover);
	box-shadow: var(--shadow);
}
aside a:active{
	background-color: var(--sidebar-active);
	box-shadow: var(--shadow);
}
aside a{
	font-weight: 650;
	height: 100%;
	padding: 0 25px;
	font-size: 1rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--text);

	cursor: default;
	display: flex;
	width: 100%;
}
aside li:nth-child(1){
	top: 0px;
	margin-left: calc(100% - 50px);
	width: 50px;
}
aside li:nth-child(2){
	width: calc(100% - 50px);
}
aside a.active{
	color: var(--selected-text);
}
aside a.active svg{
	fill: var(--selected-text);
}

#show{
	display: none;
	width: 50px;
	padding: 0px;

	align-items: center;
	justify-content: center;
}
#hide{
	width: 50px;
	padding: 0px;
	margin-left: auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* LINE BREAK */

.lr{
	--width: 97.5%;
	width: var(--width);
	height: 2px;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	margin-left: calc((100% - var(--width)) / 2);
	
	background: linear-gradient(-90deg, transparent, var(--highlight)   30%, var(--highlight)   70%, transparent);

	transition: var(--ease);
}

/* CODE */

.code{
	border-radius: 20px;
	--width: 90%;
	width: var(--width);

	padding: 3px 6px;

	margin-left: calc((100% - var(--width)) / 2);
	margin-top: var(--margin-L);

	border: 2px solid var(--bg);
	border-top: 2px solid var(--highlight);
	box-shadow: var(--shadow);
	background-color: var(--bg);

	transition: var(--ease);
}
.code *{
	font-family: Fira Code;
	font-weight: 500;

	text-align: left;
	font-size: 1.3rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	line-height: 32px;

	color: var(--text-muted);
}
.code #highlight{
	color: var(--text);
}
.code h2::before, .code h3::before, .code h4::before, .code h5::before, .code h6::before{
	color: oklch(from var(--text-muted) l c h / 0.35);
}
.code h2::before{
	content: "-> ";
}
.code h3::before{
	content: "-> -> ";
}
.code h4::before{
	content: "-> -> -> ";
}
.code h5::before{
	content: "-> -> -> -> ";
}
.code h6::before{
	content: "-> -> -> -> -> ";
}

.darkmode .code{
	border: 2px solid var(--border);
	border-top: 2px solid var(--highlight);
	box-shadow: var(--no-shadow);
}

/* HOME */

button {
	background-color: oklch(from var(--bg-light) l c h / 0.2);
	border: 2px solid oklch(from var(--bg-lighterer) l c h / 0.4);

	width: 200px;
	height: 250px;
	color: var(--text);

	border-radius: 30px;

	box-shadow: var(--shadow);
	
	backdrop-filter: var(--liquid-glass);
}
button:hover{
	background-color: oklch(from var(--bg-lighter) l c h / 0.6);
	border: 2px solid oklch(from var(--bg-lighterer) l c h / 0.7);
}
button:active{
	background-color: oklch(from var(--bg-lighterer) l c h / 1);
	border: 2px solid oklch(from var(--bg-lighterer) l c h / 1);
}

.darkmode button{
	box-shadow: var(--no-shadow);
}

.canvas{
	background: url("images/background.png");
	background-size: 200dvw;
	animation: infinite 20000s move linear;

	width: 100dvw;
	height: calc(100dvh - 50px);
	margin-top: 50px;

	display: grid;
	align-content: center;

	transition: var(--ease);
}
@keyframes move{
	from {
		background-position-x: -200000dvw;
		background-position-y: -150000dvw;
	}
}
.canvas div{
	background-color: oklch(from var(--bg-dark) l c h / 0.65);
	height: calc(100dvh - 50px);
	display: grid;
	align-content: center;

	transition: var(--ease);
}
.canvas div::before {
	background-color: oklch(from var(--bg-light) l c h / 0.2);
	border: 2px solid oklch(from var(--bg-lighterer) l c h / 0.4);

	border-radius: 30px;

	content: "";
	height: 180px;
	width: 90%;
	
	position: fixed;
	top: calc(50dvh - 170px);
	left: 5%;

	backdrop-filter: var(--liquid-glass);
}
.canvas *{
	width: 100dvw;
	z-index: 1;
}
.canvas h1{
	scale: 0;
	font-size: clamp(3rem, 8vw, 6rem);
	position: relative;
	top: 40px;
}
.canvas h6{
	scale: 0;
	font-size: clamp(1.5rem, 4vw, 3dvw);
	position: relative;
	top: 40px;
}
.canvas button{
	--width: 150px;
	--download-width: 50px;

	--padding: 10px;

	--width-mean: calc((var(--width) + var(--download-width)) / 2 + var(--padding));

	width: var(--width);
	margin-top: 80px;
	margin-left: calc((50% - var(--width) / 2) - var(--width-mean) / 2);
	padding: 0px 25px;
	font-weight: 650;
	height: 50px;
	font-size: 1rem;
	text-decoration: none;

	display: flex;
	align-items: center;
	color: var(--text);

	cursor: default;

	scale: 0;
}
.canvas .download{
	width: var(--download-width);

	padding: 0px 10px 0px 10px;

	position: relative;
	top: -70px;
	margin-top: 20px;
	margin-left: calc((50% - var(--download-width) / 2) + var(--width-mean) / 2);

	background-color: oklch(from var(--download) l c h / 0.6);
	border: 2px solid oklch(from var(--download) l c h / 0.9);
}
.canvas .download:hover{
	background-color: oklch(from var(--download) l c h / 0.8);
	border: 2px solid oklch(from var(--download) l c h / 0.9);
}
.canvas .download:active{
	background-color: oklch(from var(--download) l c h / 1);
	border: 2px solid oklch(from var(--download) l c h / 0.9);
}
.canvas #download-windows, .canvas #download-linux, .canvas #download-macos {
	padding: 0px 10px 0px 10px;

	top: 10px;
	width: var(--width);
	right: calc(var(--width) / 2 + var(--width) + 40px);
}
.canvas #download-windows:hover, .canvas #download-linux:hover, .canvas #download-macos:hover {
	background-color: oklch(from var(--download) l c h / 0.8);
	border: 2px solid oklch(from var(--download) l c h / 0.9);
}
.canvas #download-windows:active, .canvas #download-linux:active, .canvas #download-macos:active {
	background-color: var(--download-active);
	border: 2px solid var(--download-active);
	border-top: 2px solid var(--download-highlight);
}
.canvas #download-linux {
	top: -60px;
	right: calc(var(--width) / 2 + 20px);
}
.canvas #download-macos {
	top: -130px;
	right: calc(0px - var(--width) / 2);
}
.canvas button svg{
	height: 1.75rem;
	width: auto;

	margin-right: auto;
}

/* THEME */

#theme-switch{
	margin-left: 7px;
	height: 40px;
	width: 80px;

	border-radius: 100px;

	box-shadow: var(--shadow);

	transition: var(--ease);
}
#theme-switch svg{
	height: 100%;
	width: 100%;
}
#theme-switch #light-mode{
	top: -36px;
}
#theme-switch #dark-mode, #theme-switch #light-mode {
	display: block;
	position: relative;
	transition: var(--ease);
}
#theme-switch #dark-mode, #theme-switch #light-mode {
	left: -17.5px;
}
#theme-switch #dark-mode {
	opacity: 0;
}
#theme-switch #light-mode {
	opacity: 1;
}

.darkmode #theme-switch #light-mode{
	opacity: 0;
}
.darkmode #theme-switch #dark-mode{
	opacity: 1;
}
.darkmode #theme-switch #dark-mode, .darkmode #theme-switch #light-mode {
	left: 17.5px;
}
.darkmode #theme-switch{
	box-shadow: 0 0 0 transparent;
}

/* DROPDOWN */

select,
::picker(select){
	appearance: base-select;
	box-shadow: var(--shadow);

	border: 2px solid var(--bg-lighterer);
	background-color: var(--bg-light);
	border-radius: 10px;

	transition: var(--ease);
}
select{
	width: auto;
	padding: 4px 8px;
	color: var(--text);
	border-radius: 1000px;

	font-size: 1.25rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
select:hover{
	border: 2px solid var(--bg-lighterer);
	background-color: var(--bg-lighter);
}
select::picker-icon{
	content: "";
	display: inline-block;
	background-color: var(--text-half-muted);

	height: 1.25rem;
	width:  1.25rem;
	vertical-align: top;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-image: url(images/chevron-down.svg);

	rotate: 180deg;

	transition: var(--ease);
}
select:open::picker-icon{
	rotate: 0deg;
}
select#bottom {
	position: fixed;
	bottom: 20px;

	background-color: oklch(from var(--bg-light) l c h / 0.2);
	border: 2px solid oklch(from var(--bg-lighterer) l c h / 0.4);

	backdrop-filter: var(--liquid-glass)blur(1.5px);
}
select#bottom::picker-icon {
	rotate: 0deg;
}
select#bottom:open::picker-icon {
	rotate: 180deg;
}

option{
	display: flex;
	justify-content: flex-start;

	color: var(--text-half-muted);

	width: auto;
}
option:last-of-type{
	border-bottom: 0px;
}
option:hover, option:focus{
	background-color: var(--bg-lighter);
	color: var(--text);
	box-shadow: var(--shadow);
}
option::checkmark{
	order: 1;
	margin-left: auto;
	margin-right: 0.25rem;
	content: "";
}
option:checked{
	color: var(--selected-text);
	font-weight: 650;
	box-shadow: var(--shadow);
	background-color: var(--bg-lighterer);

	position: relative;
}
option::before{
	margin-left: 0.25rem;
	content: "";
}

.darkmode select, .darkmode ::picker(select){
	box-shadow: var(--no-shadow);
	border: 2px solid var(--border);
	border-top: 2px solid var(--highlight);
}
