/* FIRA CODE + GEIST MONO */

@import
url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--ease: all 0.7s cubic-bezier(0.5, 0.3, 0.3, 0.7);
	--blur: blur(5px);

	--scrollbar: oklch(0.25 0.025 264);
	--scrollbar-thumb: oklch(0.45 0.025 264);
}

:root{
	--bg-dark: oklch(0.75 0.025 264);
	--bg: oklch(0.87 0.025 264);
	--bg-light: oklch(0.97 0.025 264);
	--code-bg: oklch(0.87 0.025 264);

	--text: oklch(0.15 0.05 264);
	--text-half-muted: oklch(0.4 0.05 264);
	--text-muted: oklch(0.55 0.05 264);

	--sidebar: oklch(0.9 0.025 264 / 0.35);
	--sidebar-hover: oklch(0.95 0.025 264 / 0.35);
	--sidebar-active: oklch(1 0.025 264 / 0.35);

	--highlight: oklch(1 0.05 264);

	--border: oklch(0.6 0.05 264);
	--border-muted: oklch(0.7 0.05 264);

	--shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.45), 0px 12px 12px hsla(0, 0%, 0%, 0.15);
	--inverse-shadow: 0px -4px 4px hsla(0, 0%, 0%, 0.45), 0px -12px 12px hsla(0, 0%, 0%, 0.15);
	--sidebar-shadow: -4px 0px 4px hsla(0, 0%, 0%, 0.45), -12px 0px 12px hsla(0, 0%, 0%, 0.15);
	--inverse-sidebar-shadow: 4px 0px 4px hsla(0, 0%, 0%, 0.45), 12px 0px 12px hsla(0, 0%, 0%, 0.15);

	--selected-text: oklch(0.4 0.2 264);

	--primary: oklch(0.4 0.1 264);
	--secondary: oklch(0.4 0.1 84);

	--danger: oklch(0.5 0.05 30);
	--warning: oklch(0.5 0.05 100);
	--success: oklch(0.5 0.05 160);
	--info: oklch(0.5 0.05 260);

}
.darkmode{
	--bg-dark: oklch(0 0.025 264);
	--bg: oklch(0.175 0.025 264);
	--bg-light: oklch(0.25 0.025 264);
	--code-bg: oklch(0.175 0.025 264);

	--text: oklch(0.95 0.05 264);
	--text-half-muted: oklch(0.7 0.05 264);
	--text-muted: oklch(0.6 0.05 264);

	--sidebar: oklch(0 0.025 264 / 0.5);
	--sidebar-hover: oklch(0.25 0.025 264 / 0.5);
	--sidebar-active: oklch(0.5 0.025 264 / 0.5);

	--highlight: oklch(0.5 0.05 264);

	--border: oklch(0.4 0.05 264);
	--border-muted: oklch(0.3 0.05 264);

	--shadow: 0px 1.5px 0px var(--highlight);
	--inverse-shadow: 0px -1.5px 0px var(--highlight);
	--sidebar-shadow: -1.5px 0px 0px var(--highlight);
	--inverse-sidebar-shadow: 1.5px 0px 0px var(--highlight);

	--selected-text: oklch(0.76 0.2 264);

	--primary: oklch(0.76 0.1 264);
	--secondary: oklch(0.76 0.1 84);
	
	--danger: oklch(0.7 0.05 30);
	--warning: oklch(0.7 0.05 100);
	--success: oklch(0.7 0.05 160);
	--info: oklch(0.7 0.05 260);
}
*{
	font-family: Geist Mono, monospace;
	margin: 0;
	padding: 0;
}

html{
	scrollbar-width: 1.25dvw;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar);
}
body{
	background-color: var(--bg-light);
	transition: var(--ease);
}
main{
	margin-top: 1rem;
}

h1{
	font-size: 3.4rem;
} h2{
	font-size: 2.4rem;
} h3{
	font-size: 2.1rem;
} h4{
	font-size: 1.8rem;
} h5{
	font-size: 1.5rem;
} h6{
	font-size: 1.2rem;
}
h1, h2{
	color: var(--text);
	text-align: center;
	font-weight: 650;
}
h3, h4, h5, h6{
	color: var(--text-half-muted);
	text-align: center;
	font-weight: 450;
}

/* HEADER */

header::before{
	content: "a";
	font-size: 50px;
	color: transparent;
}
header{
	background: var(--bg);
	box-shadow: var(--shadow);
	transition: var(--ease);
}
header::after{
	content: "a";
	font-size: 1rem;
	color: transparent;
}

/* BOLD */

b{
	color: var(--text);
	font-weight: 850;
}

/* LISTS */

main ul *::before{
	content: "•";
	margin-right: 1rem;
}

/* NAVIGATION BAR */

nav{
	background: var(--bg-dark);
	box-shadow: var(--shadow);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: var(--ease);
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav li{
	height: 50px;
}
nav a{
	font-weight: 650;
	height: 100%;
	padding: 0 30px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--text);

	cursor: default;
	transition: var(--ease);
}
nav a:hover{
	background-color: var(--bg);
}
nav a:active{
	background-color: var(--bg-light);
}
nav li:first-child{
	margin-right: auto;
}
svg{
	fill: var(--text-muted);
}
nav .active{
	color: var(--selected-text);
}
nav #show{
	display: none;
	width: 50px;
	padding: 0px;

	align-items: center;
	justify-content: center;
}
@media (max-width: 575px){
	nav a{
		display: none;
	}
	nav #show{
		display: flex;
	}
}

/* SIDEBAR */

.sidebar{
	position: fixed;
	top: 0;
	right: -45.1vw;
	height: 100vh;
	width: 45vw;
	z-index: 999;
	background-color: var(--sidebar);
	backdrop-filter: var(--blur);
	box-shadow: var(--sidebar-shadow);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	transition: var(--ease);
}
.sidebar li{
	position: relative;
	top: -50px;
	width: 100%;
}
.sidebar a{
	display: flex;
	width: 100%;
}
.sidebar a:hover{
	background-color: var(--sidebar-hover);
	box-shadow: var(--shadow);
}
.sidebar a:active{
	background-color: var(--sidebar-active);
	box-shadow: var(--shadow);
}
.sidebar li:nth-child(1){
	top: 0px;
}
.sidebar li:nth-child(2){
	width: calc(30vw - 115px);
}
.sidebar #hide{
	width: 50px;
	padding: 0 2.5px;
	margin-left: auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* THEME */

#theme-switch{
	margin: 7px;
	height: 35px;
	width: 70px;
	
	background-color: var(--bg-dark);
	border-radius: 100px;

	border: 2px solid var(--border);
	border-top: 2px solid var(--border-muted);
	box-shadow: var(--shadow);
}
.darkmode #theme-switch{
	box-shadow: 0 0 0 transparent;
}
#theme-switch:hover{
	background-color: var(--bg);
}
#theme-switch:active{
	background-color: var(--bg-light);
}
#theme-switch svg{
	height: 100%;
	width: 100%;
}
#theme-switch #light-mode{
	top: -31px;
}
#theme-switch #dark-mode,
#theme-switch #light-mode {
	display: block;
	position: relative;
	transition: var(--ease);
}
#theme-switch #dark-mode,
#theme-switch #light-mode {
	left: -17.5px;
}
.darkmode #theme-switch #dark-mode,
.darkmode #theme-switch #light-mode {
	left: 17.5px;
}
#theme-switch #dark-mode,
.darkmode #theme-switch #light-mode{
	opacity: 0;
}
#theme-switch #light-mode,
.darkmode #theme-switch #dark-mode{
	opacity: 1;
}

/* LINE BREAK */

.lr{
	--width: 97.5%;
	width: var(--width);
	height: 2px;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	margin-left: calc((100% - var(--width)) / 2);

	/* background-color: var(--bg-dark); */
	
	background: linear-gradient(-90deg, transparent, var(--bg-dark)   30%, var(--bg-dark)   70%, transparent)
}
.darkmode .lr{
	background: linear-gradient(-90deg, transparent, var(--highlight) 30%, var(--highlight) 70%, transparent)
}

/* CODE */

.code{
	--width: 90%;
	width: var(--width);
	margin-left: calc((100% - var(--width)) / 2);

	box-shadow: var(--shadow);
	background-color: var(--code-bg);

	transition: var(--ease);
}
.code *{
	font-family: Fira Code;
	font-weight: 500;

	text-align: left;
	font-size: 1.3rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	line-height: 32px;

	color: var(--text-muted);
}
.code #highlight{
	color: var(--text);
}
.code h2::before, .code h3::before, .code h4::before, .code h5::before, .code h6::before{
	color: oklch(from var(--text-muted) l c h / 0.35);
}
.code h2::before{
	content: "-> ";
}
.code h3::before{
	content: "-> -> ";
}
.code h4::before{
	content: "-> -> -> ";
}
.code h5::before{
	content: "-> -> -> -> ";
}
.code h6::before{
	content: "-> -> -> -> -> ";
}
